
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  max-width: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: black;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease; 
}

.fontfam{
  font-family: "DM Sans", serif;
}

.faq-answer.open {
  max-height: 500px;
  opacity: 1;
}

section{
  width: 80%;
  margin: auto;
}

.ul-container ul li{
margin-bottom: 10px;
}

@media (max-width:400px) {
section{
  width: 90%;
  margin: auto;
}
}

.no-scrollbar::-webkit-scrollbar{
display: none;
}

.outlined{
  -webkit-text-stroke: 2px white;
}